@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root.dark {
  --background: #242628;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-base: #ffffff;
  --color-light-sub: #f0f0f0;
  --color-dark-base: #1b1c1d;
  --color-dark-sub: #242628;
  --color-accent: #2ec2d0;
  --color-hover: #75757570;
  --color-form: #8484841f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
